p {
    text-align: center;
    color: red;
}
body {
    background: rgb(184, 212, 232);
    font-family: Arial, Helvetica, sans-serif;
}
#header {
    color: rgb(219, 175, 236);
}
.about {
    text-align: center;
    color: blue;
}
.projects {
    background: #00b3d1;
}

.left {
    text-align: left;
}
.green {
    color: green;
}
.attention {
    font-weight: bold;
}