p {
    text-align: center;
    color: rgb(0, 140, 63);
}

body {
    background: rgb(139, 192, 230);
    font-family: Arial, Helvetica, sans-serif;
}

#header {
    color: rgb(5, 82, 182);
    text-align: center;
}

.about {
    text-align: center;
    color: rgb(0, 0, 0);
}

.projects {
    background: #edbdc6;
    padding: 20px;
}

.projects {
    display: flex;
    flex-wrap: wrap;
}

.project {
    width: 30%;
    margin: 10px;
    padding: 20px 10px;
    background: white;
    border-radius: 25px;
}

.project {
    background: white;
    margin: 20px auto;
    padding: 15px;
    width: 80%;
    border-radius: 10px;
    text-align: center;
}

.project img {
    width: 300px;
    height: 300px;
    margin: 10px auto;
    border: 2px solid rgb(126, 14, 201);
    display: block;
}

.project p {
    text-align: center;
    margin: 15px;
    color: black;
}
.projects {
    display: flex;
    flex-wrap: wrap;
}

.project {
    width: 30%;
    margin: 10px;
    padding: 20px 10px;
    background: white;
    border-radius: 25px;
}

a {
    text-decoration: none;
    color: purple;
}

.left {
    text-align: left;
}

.green {
    color: rgb(244, 240, 186);
}

.attention {
    font-weight: bold;
}

.contact {
    text-align: center;
}