p {
    text-align: center;
    color: rgb(202, 248, 223);
}
body {
    background: rgb(184, 212, 232);
    font-family: Arial, Helvetica, sans-serif;
}
#header {
    color: rgb(219, 175, 236);
}
.about {
    text-align: center;
    color: rgb(175, 224, 183);
}
.projects {
    background: #f2cdd4;
}

.left {
    text-align: left;
}
.green {
    color: rgb(244, 240, 186);
}
.attention {
    font-weight: bold;
}